<h1>{{ titulo }}</h1>

<form #form="ngForm">
  
  <mat-form-field>
    <mat-label>Modelo</mat-label>
    <mat-select 
      [(ngModel)]="veiculo.modelo" 
      name="modelo"
      placeholder="Selecione o modelo do veículo"
      required
    >
      <mat-option *ngFor="let modelo of modelos" [value]="modelo._id">
        {{modelo.marca.nome}} {{modelo.nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Ano de fabricação</mat-label>
    <mat-select 
      [(ngModel)]="veiculo.ano_fabricacao" 
      name="ano_fabricacao"
      placeholder="Selecione o ano de fabricação do veículo"
      required
    >
      <mat-option *ngFor="let ano of anos" [value]="ano.ano">
        {{ano.ano}}
      </mat-option>
    </mat-select>
  </mat-form-field>
   
  <mat-form-field>
    <mat-label>Ano do modelo</mat-label>
    <input matInput 
      name="ano_modelo"
      type="number"
      min="1950"
      max="{{anoAtual + 1}}" 
      required 
      placeholder="Informe o ano do modelo do veículo" 
      [(ngModel)]="veiculo.ano_modelo" 
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Cor</mat-label>
    <mat-select 
      [(ngModel)]="veiculo.cor" 
      name="cor"
      placeholder="Selecione a cor do veículo"
      required
    >
      <mat-option *ngFor="let cor of cores" [value]="cor._id">
       {{cor.nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Combustível</mat-label>
    <mat-select 
      [(ngModel)]="veiculo.combustivel" 
      name="combustivel"
      placeholder="Selecione o combustível do veículo"
      required
    >
      <mat-option *ngFor="let combustivel of combustiveis" [value]="combustivel._id">
       {{combustivel.descricao}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Placa</mat-label>
    <input matInput 
      name="placa"
      maxlength="8"
      required 
      placeholder="Informe a placa do veículo no formato AAA-0000" 
      [(ngModel)]="veiculo.placa" 
    />
  </mat-form-field>
  
  <mat-slide-toggle
    name="importado"  
    required 
    [(ngModel)]="veiculo.importado" 
  >
  Importado
  </mat-slide-toggle>
  
  <!-- step="0.01" -> duas casas decimais -->
  <mat-form-field>
    <mat-label>Valor de compra</mat-label>
    <mat-icon matPrefix>attach_money</mat-icon>
    <input matInput 
      name="valor_compra"
      type="number"
      step="0.01" 
      required 
      placeholder="Informe o valor de compra do veículo" 
      [(ngModel)]="veiculo.valor_compra" 
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data de compra</mat-label>
    <input matInput 
      [matDatepicker]="dataCompra" 
      placeholder="Informe a data de compra"
      name="data_compra"
      required
      [(ngModel)]="veiculo.data_compra"
    >
    <mat-datepicker-toggle matSuffix [for]="dataCompra"></mat-datepicker-toggle>
    <mat-datepicker #dataCompra></mat-datepicker>
  </mat-form-field>

  <!-- step="0.01" -> duas casas decimais -->
  <mat-form-field>
      <mat-label>Valor de venda</mat-label>
      <mat-icon matPrefix>attach_money</mat-icon>
      <input matInput 
        name="valor_venda"
        type="number"
        step="0.01" 
        placeholder="Informe o valor de venda do veículo" 
        [(ngModel)]="veiculo.valor_venda" 
      />
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Data de venda</mat-label>
      <input matInput 
        [matDatepicker]="dataVenda" 
        placeholder="Informe a data de venda"
        name="data_venda"
        [(ngModel)]="veiculo.data_venda"
      >
      <mat-datepicker-toggle matSuffix [for]="dataVenda"></mat-datepicker-toggle>
      <mat-datepicker #dataVenda></mat-datepicker>
    </mat-form-field>
    
</form>

<mat-toolbar class="form-toolbar">
  <button mat-raised-button color="accent" (click)="salvar()">
    Salvar
  </button>
  <span class="espac20px"></span>
  <button mat-raised-button (click)="voltar(form)">
    Voltar
  </button>
</mat-toolbar>